<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PE EMPRO | Available Products</title>
    <%- include("./partials/head.ejs") %>
  </head>
  <body>
    <div class="container">
      <header class="board__header">
        <h2>Available Fabrics</h2>
        <a href="/" class="nav-link">Home</a>
      </header>
      <main class="available__main">
        <div class="filter__container">
          <form class="prod__form filter__form" style="margin: 30px 0 30px 0" action="/fabric-sourcing/filter" method="POST">
            <h2>Filters</h2>
            <div class="formgroup">
              <label for="fabricName">Fabric Name: </label>
              <input type="text" name="fabricName" id="fabricName">
            </div>
            <div class="formgroup">
              <label for="fabricContent">Fabric Content: </label>
              <input type="text" name="fabricContent" id="fabricContent">
            </div>
            <div class="formgroup">
              <label for="dateOfReceiving">Date of Recieving: </label>
              <input type="date" name="dateOfReceiving" id="dateOfReceiving">
            </div>
            <div class="formgroup">
              <label for="supplier">Supplier Name: </label>
              <input type="text" name="supplier" id="supplier">
            </div>
            <input type="submit" value="Apply">
            <a href="/fabric-sourcing/available-fabrics">Clear Filters</a>
          </form>
        </div>
        <div class="dept">
          <ul>
            <% for(let i=0; i<data.length; i++) {%> 
              <li class="card__li">
                <% for(let key in data[i]) {%> 
                  <% if(key !== 'id') {%> 
                    <% if(key !== 'createdAt') {%> 
                        <% if(key == 'dateOfInspection') {%> 
                            <% humanTime = moment(data[i][key]).format("ll") %> 
                            <div><b><%=key %>:</b> <%=humanTime%></div>
                        <%} else if(key == 'dateOfReceiving') {%> 
                            <% humanReceivingTime = moment(data[i][key]).format('ll') %>
                            <div><b><%=key %>:</b> <%=humanReceivingTime%></div>
                        <% } else {%> 
                            <div><b><%=key %>:</b>  <%=data[i][key] %>  </div>
                        <% } %> 
                    <% } %> 
                  <% } %>
                <% } %>
              </li>
            <%}%>
          </ul>
        </div>
      </main>
    </div>
  </body>
</html>
