<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PE EMPRO | Available Products</title>
    <%- include("./partials/head.ejs") %>
  </head>
  <body>
    <div class="container">
      <header class="board__header">
        <h2>Available Fabrics</h2>
        <a href="/" class="nav-link">Home</a>
      </header>
      <main class="available__main">
        <div class="filter__container">
          <form class="prod__form filter__form" style="margin: 30px 0 30px 0" action="/fabric-sourcing/filter" method="POST">
            <h2>Filters</h2>
            <div class="formgroup">
              <label for="fabricName">Fabric Name: </label>
              <input type="text" name="fabricName" id="fabricName">
            </div>
            <div class="formgroup">
              <label for="fabricContent">Fabric Content: </label>
              <input type="text" name="fabricContent" id="fabricContent">
            </div>
            <div class="formgroup">
              <label for="dateOfReceiving">Date of Recieving: </label>
              <input type="date" name="dateOfReceiving" id="dateOfReceiving">
            </div>
            <div class="formgroup">
              <label for="fabricColour">Fabric Colour: </label>
              <input type="text" name="fabricColour" id="fabricColour">
            </div>
            <input type="submit" value="Apply">
            <a href="/fabric-sourcing/available-fabrics">Clear Filters</a>
          </form>
        </div>
        <div class="dept">
          <ul>
            <% for(let i=0; i<data.length; i++) {%> 
              <li class="card__li" style="display: flex; flex-direction: column; justify-content: space-between;">
                <% for(let key in data[i]) {%> 
                  <% if(key !== 'id') {%> 
                    <% if(key !== 'createdAt') {%> 
                        <% if(key == 'dateOfInspection') {%> 
                            <% humanTime = moment(data[i][key]).format("ll") %> 
                            <div><b><%=key %>:</b> <%=humanTime%></div>
                        <%} else if(key == 'dateOfReceiving') {%> 
                            <% humanReceivingTime = moment(data[i][key]).format('ll') %>
                            <div><b><%=key %>:</b> <%=humanReceivingTime%></div>
                        <% } else {%> 
                            <div><b><%=key %>:</b>  <%=data[i][key] %>  </div>
                        <% } %> 
                    <% } %> 
                  <% } %>
                <% } %>
                          <div>
                            <div class="start__div">
                              <form style="display: none;" action="/fabric-sourcing/startTask" method="POST" class="prod__form">
                                <input type="hidden" name="id" value="<%=data[i]["id"]%>">
                                <div class="formgroup">
                                  <label for="length">Length:</label>
                                  <input type="number" name="length" min="1" max="<%=data[i]["length"]%>">
                                </div>
                                <div class="formgroup">
                                  <label for="date">Date Of Inspection: </label>
                                  <input type="date" name="date" >
                                </div>
                                <input type="submit" value="Start">
                                <button type="button" class="cancel">Cancel</button>
                              </form>
                              <a class="start-edit">Start</a>
                            </div>
                            <div class="card__completed" style="margin-top: 8px">
                              <a href="/fabric-sourcing/delete/<%=data[i].id%>">Delete</a>
                            </div>
                          </div>
              </li>
            <%}%>
          </ul>
        </div>
      </main>
    </div>
    <script>
      let startEdit = document.querySelectorAll(".start-edit");
      let cancel = document.querySelectorAll(".cancel");

      cancel.forEach(e => {
        e.addEventListener("click", () => {
          e.parentElement.parentElement.children[0].style.display = 'none';
          e.parentElement.parentElement.children[1].style.display = 'block'
        })
      })

      startEdit.forEach(e => {
        e.addEventListener("click", () => {
          e.style.display = 'none';
          e.parentElement.children[0].style.display = 'block'
        })
      })
    </script>
  </body>
</html>
